@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400;600&display=swap');

body {
    font-family: 'Popins', sans-serif;
    margin: 0;
    padding: 0;
    background: #f9f9f9;
    color: #333;
}

nav {
    background: #1f3140;
    background: linear-gradient(to right, #99d6f2, #1f3140);
    padding: 15px;
    text-align: center;
    color: #b4e0e8;
}

nav a {
    color: #fff;
    margin: 0 15px;
    text-decoration: none;
    font-weight: 600;
    transition: color 0.3s ease;
}

nav a:hover {
    color: #a5cbdb;
}

.content {
    text-align: center;
    padding: 40px 20px;
    max-width: 1500px;
    margin: 0 auto;
}

.content h2 {
    font-size: 2rem;
    margin-bottom: 20px;
    color: #444;
    text-align: center;
}

.content p {
    font-size: 1rem;
    color: #555;
    text-align: center;
}

.actions .btn {
    margin: 10px;
    padding: 10px 20px;
    text-decoration: none;
    border: 1px solid #ddd;
    border-radius: 5px;
    font-weight: 500;
    color: white;
    display: inline-block;
    background: #73A2BA;
    transition: background 0.3s ease, color 0.3s ease;
}

.btn:hover {
    background: #5A8096;
}

form {
    text-align: center;
    margin-top: 30px;
}

.logout {
    padding: 12px 30px;
    background: #d9534f;
    color: white;
    border: none;
    border-radius: 5px;
    font-weight: 600;
    cursor: pointer;
}

.logout:hover {
    background: #c9302c;
    transition: background 0.3s ease;
}

.featured-jobs {
    margin: 20px auto;
    padding: 20px;
    background: #f3f3f3;
    border-radius: 10px;
    box-shadow: 2px 2px 7px rgb(118, 117, 117);
}

.featured-jobs h2 {
    font-size: 1.5rem;
    margin-bottom: 15px;
    text-align: center;
    color: #444;
}

.featured-jobs ul {
    list-style: none;
    padding: 0;
    margin: 0;
}

.featured-jobs ul li {
    margin-bottom: 15px;
    padding: 10px;
    border-bottom: 1px solid #ddd;
}

.featured-jobs ul li:last-child {
    border-bottom: none;
}

.featured-jobs ul li h3 {
    font-size: 1.2rem;
    margin-bottom: 5px;
    color: #555;
}

.featured-jobs ul li p {
    font-size: 0.9rem;
    margin: 5px 0;
    color: #666;
}

.messages .success {
    font-style: italic;
    color: #5cb85c;
}

.messages .error {
    font-style: italic;
    color: #d9534f;
}