@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400;600&display=swap');

body {
    font-family: 'Poppins', sans-serif;
    margin: 0;
    padding: 0;
    background: #fff;
    color: #333;
}

nav {
    background: #1f3140;
    background: linear-gradient(to right, #99d6f2, #1f3140);
    padding: 15px;
    text-align: center;
    color: #b4e0e8;
}

nav a {
    color: #fff;
    margin: 0 15px;
    text-decoration: none;
    font-weight: 600;
    transition: color 0.3s ease;
}

nav a:hover {
    color: #a5cbdb;
}

.content {
    max-width: 1300px;
    margin: 10px auto;
    background: #fff;
    padding: 40px;
    border-radius: 15px;
}

.welcome {
    display: block;
    text-align: center;
    margin-top: 5px;
    margin-bottom: 45px;
    font-size: 2rem;
    color: #444;
}

.search-bar {
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 10px;
    margin-bottom: 20px;
    margin-top: 40px;
}

.search-bar input {
    width: calc(30% - 10px);
    padding: 12px;
    border: 1px solid #ddd;
    border-radius: 5px;
    background: #fafafa;
    color: #333;
    font-size: 1rem;
}

.search-bar button, .clear-search {
    padding: 10px 20px;
    border: none;
    border-radius: 5px;
    font-weight: 600;
    cursor: pointer;
    transition: background 0.3s ease;
}

.search-bar button {
    background: #73A2BA;
    color: #fff;
    padding: 14px 19px;
    font-size: 15px;
    
}

.search-bar button:hover {
    background: #48b171;
}

.clear-search {
    background: #f44336;
    color: #fff;
    text-decoration: none;
    display: inline-block;
}

.clear-search:hover {
    background: #d32f2f;
}

table {
    width: 100%;
    border-collapse: collapse;
    margin-top: 20px;
}

table th, table td {
    padding: 12px;
    text-align: left;
    border: 1px solid #ddd;
    font-weight: 600;
}

table th {
    background: #f4f4f4;
    color: #1f3140;
}

table td {
    background: #fafafa;
}

table tr:nth-child(even) {
    background: #f2f2f2;
}

table tr:hover {
    background: #f5f5f5;
}

table a {
    color: #34739df9;
    text-decoration: none;
    font-weight: 600;
    transition: color 0.3s ease;
}

table a:hover {
    color: #46d974;
}