<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Job Hunt</title>
  {%load static%}
  <link rel="stylesheet" href="{% static 'home.css'%}">
</head>
<body>
  <header class="navbar">
    <div class="logo">
      <h1>Job Hunt</h1>
      <p>Get your dream job</p>
    </div>
    <nav>
      <a href="#">Home</a>
      <a href="#">Register</a>
      <a href="#">Login</a>
    </nav>
  </header>

  <main class="hero">
    <h1>Find the most exciting startup jobs</h1>
    <form class="search-bar">
      <input type="text" placeholder="Job Title or keyword" />
      <select>
        <option value="">All</option>
      </select>
      <button type="submit">Find Job</button>
    </form>
  </main>
</body>
</html>
