<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Home</title>
    {% load static %}
    <link rel="stylesheet" href="{% static 'jobs/homes.css' %}">
</head>
<body>
    <nav>
        <div class="logo">
            <span>Job Hunt</span>
        </div>
        <div class="nav-links">
            {% if user_type == "Company" %}
            <a href="{% url 'company_dashboard' %}">Profile</a>
            {% elif user_type == "Job Seeker" %}
            <a href="{% url 'seeker_dashboard' %}">Profile</a>
            {% endif %}
            <a href="{% url 'user_logout' %}">Logout</a>
        </div>
    </nav>
    <header class="hero">
        <h1>Welcome to Job Hunt!</h1>
        <p>Your dream job awaits.</p>
        {% if user_type == "Job Seeker" %}
            <a href="{% url 'view_jobs' %}" class="view">View Available Jobs</a>
        {% elif user_type == "Company" %}
            <a href="{% url 'view_jobs' %}" class="view">View All Jobs</a>
        {% endif %}
    </header>
    <div class="content">
        {% if messages %}
        <ul class="messages">
            {% for i in messages %}
                <li class="{{ i.tags }}">{{ i }}</li>
            {% endfor %}
        </ul>
        {% endif %}
        <section class="featured">
            <h2>Featured Jobs</h2>
            <div class="grid">
                {% for job in featured_jobs %}
                <div class="jobs">
                    <p><strong>Company:</strong> {{ job.c_username.company_name }}</p>
                    <p><strong>Skills Required:</strong> {{ job.req_skill }}</p>
                    <p><strong>Salary:</strong> ${{ job.salary }}</p>
                    <p><strong>Experience:</strong> {{ job.req_experience }} years</p>
                    <p><strong>Description:</strong> {{ job.description }}</p>
                    <p><strong>Deadline:</strong> {{ job.deadline }}</p>
                </div>
                {% empty %}
                <p>No featured jobs available at the moment.</p>
                {% endfor %}
            </div>
        </section>
        
    </div>
</body>
</html>
