<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Home</title>
    {% load static %}
    <link rel="stylesheet" href="{% static 'jobs/homes.css' %}">
</head>
<body>
    <nav>
        <a href="{% url 'register_job_seeker' %}">Register as Job Seeker</a> |
        <a href="{% url 'register_company' %}">Register as Company</a> |
        {% if user_type == "Company" %}
        <a href="{% url 'company_dashboard' %}">Profile</a> |
        {% elif user_type == "Job Seeker" %}
        <a href="{% url 'seeker_dashboard' %}">Profile</a> |
        {% endif %}
        <a href="{% url 'user_logout' %}">Logout</a>
    </nav>
    <div class="content">
        <h2>Welcome to Job Hunt!</h2>
        <p>Hello, {{ user }}! You are logged in as a {{ user_type }}.</p>
        {% if user_type == "Job Seeker" %}
            <div class="actions">
                <a href="#" class="btn">View Available Jobs</a>
            </div>
        {% elif user_type == "Company" %}
            <div class="actions">
                <a href="{% url 'company_dashboard' %}" class="btn">Post Jobs</a>
            </div>
        {% endif %}
        <div class="featured-jobs">
            <h2>Featured Jobs</h2>
            <ul>
                {% for job in featured_jobs %}
                <li>
                    <h3>{{ job.title }}</h3>
                    <p><strong>Company:</strong> {{ job.c_username.company_name }}</p>
                    <p><strong>Skills Required:</strong> {{ job.req_skill }}</p>
                    <p><strong>Salary:</strong> ${{ job.salary }}</p>
                    <p><strong>Experience Required:</strong> {{ job.req_experience }} years</p>
                    <p><strong>Deadline:</strong> {{ job.deadline }}</p>
                </li>
                {% empty %}
                <p>No featured jobs available at the moment.</p>
                {% endfor %}
            </ul>
        </div>
    </div>    
</body>
</html>